<div class="learning-page">
  <div class="learning-intro learning-body row">
    <div class="col-12 text-center nav_responsive">
      <div class="learning-header mt-5 mb-5">
        <div class="learning-title info-nav p-2">School choice in Delaware is complex.</div>
      </div>
    </div>
    <div class="col-12">
      <p>
        Each Delaware household falls within a school district. The boundaries of each school district are also referred to as a feeder pattern. Unless, you, as a parent decides to send your child to a private school, charter school, or chooses to have your child attend a different public school, your child will attend their designated feeder pattern school. That is a big if, though, because of all the options you have as a parent. As a Delaware citizen your child is eligible to apply to attend any public school or charter school in the state. If this sounds confusing, you are in the right place. The purpose of the Delaware School Choice Sherpa project is to assist you and other Delaware parents navigate Delaware's school choice process. The content and tools on this website explain the steps of the school choice process and provide information to help you choose the school that is right for your child.
      </p>
    </div>
  </div>
  <label for="page0" aria-hidden="true" class="learning-next info-nav p-2 mt-3">About Choice</label>
</div>
