<div class="learning-page">
  <div class="learning-page-1 learning-body row">
    <div class="col-12 text-center nav_responsive">
      <div class="learning-header mt-5 mb-5">
        <div class="learning-step">1.</div>
        <div class="learning-title info-nav p-2">Find a School</div>
      </div>
    </div>

    <div class="col-12">
      <div class="text-center nav_responsive" style="float: right">
        <%= link_to(search_path, class: 'nav-item') do %>
          <%= image_tag('sherpa_icons-02.png', class: 'nav-icon') %>
          <div class="nav-label">
            Search for Schools
          </div>
        <% end %>
      </div>

      <p>Begin by researching schools. Review the school choice guide and look for schools that match your student’s priorities (related to academics and training, extracurriculars, preferences, diversity, and transportation).</p>

      <p>Visit schools that interest you and your student.</p>

      <p>Rank school choices. Consider each school’s capacity. What to consider?

        <dl>
          <dt>Academics and Training:</dt>
          <dd>What/how will your child learn and will the environment work for them? (Student Special Needs, Special Programs, Equipment, Technology)</dd>
          <dt>Preferences:</dt>
          <dd>Do you meet special considerations and will it affect your chance of admission? (Seat Capacity/Rejection Risk, School Proximity)</dd>
          <dt>Diversity:</dt>
          <dd>How might the staff/student population impact your child’s success? (Cultural/Social Comfort, Staff/Faculty)</dd>
          <dt>Transportation:</dt>
          <dd>How will your child get to/from school? (School Bus, Walking or Private Vehicle, Public Transportation)</dd>
          <dt>Extracurriculars:</dt>
          <dd>What kind of non-academic offerings does the school have? (Arts, Sports Club)</dd>
        </dl>
      </p>

      <p>Source: <a href="http://pacewilmington.nationbuilder.com/">The Pace Network Wilmington</a></p>
    </div>
  </div>
  <label for="page0" aria-hidden="true" class="learning-prev info-nav p-2 mt-3">About Choice</label>
  <label for="page2" aria-hidden="true" class="learning-next info-nav p-2 mt-3">Get Paperwork</label>
</div>
