<div class="learning-page">
  <div class="learning-page-2 learning-body row">
    <div class="col-12 text-center nav_responsive">
      <div class="learning-header mt-5 mb-5">
        <div class="learning-step">2.</div>
        <div class="learning-title info-nav p-2">Get Your Paperwork Ready</div>
      </div>
    </div>

    <div class="col-12">
      <p>
      In order for your child to be eligable for the school choice process they must first be enrolled at their feeder school (also known as school of residence). After you are sure they are enrolled the next step is to set up an account on <a href="https://www.schoolchoicede.org/Login.aspx?ReturnUrl=%2f" target="_blank">SchoolChoiceDE.com</a> and begin the application. Gather application information for the specific school district to which your child is applying by visting the <a href="https://www.doe.k12.de.us/site/Default.aspx?PageID=185" target="_blank">Delaware Department of Education's Choice Districts and Charters page</a>. Complete supplemental materials. Is additional information, such as an audition or interview, required?
      </p>
    </div>
  </div>
  <label for="page1" aria-hidden="true" class="learning-prev info-nav p-2 mt-3">Find a School</label>
  <label for="page3" aria-hidden="true" class="learning-next info-nav p-2 mt-3">Choice Open</label>
</div>
