<div class="learning-page">
  <div class="learning-page-3 learning-body">
    <div class="learning-step-header text-center nav_responsive">
      <div class="learning-header mt-5 mb-5">
        <div class="learning-step">3.</div>
        <div class="learning-title info-nav p-2">Apply to a School</div>
      </div>
    </div>
    <div class="info-blurb learning-left p-3">
      <p><strong><span class="title">Timeline</strong></p>
      <p>
        <dl>
          <dt>Prior to November:</dt>
          <dd>Get Your Paperwork Ready</dd>
          <dt>First Monday in November:</dt>
          <dd>Window to submit school choice application opens</dd>
          <dt>Second Wednesday in January:</dt>
          <dd>Window to submit school choice application closes</dd>
          <dt>Late February:</dt>
          <dd>Parents are notified about invitation status</dd>
          <dt>Mid March:</dt>
          <dd>Deadline to accept or decline school choice invitation</dd>
        </dl>
      </p>
    </div>
    <div class="info-blurb learning-right p-3">
      <p><strong><span class="title">Additional Information</strong></p>
      <p>
        <ul>
          <li>Separate applications for each child must be submitted.</li>
          <li>Applications to multiple schools can be submitted.</li>
          <li>Invitation Status and Acceptance Criteria (Ordered by Priority)
            <ul>
              <li>Returning students who continue to meet the school requirements</li>
              <li>Siblings of students already enrolled and who will be returning to the school</li>
              <li>Children of employees</li>
              <li>Students living within the school district</li>
              <li>Students living outside the school district</li>
            </ul>
          </li>
        </ul>
      </p>
    </div>
  </div>
  <label for="page2" aria-hidden="true" class="learning-prev info-nav p-2 mt-3">Get Paperwork</label>
  <label for="page4" aria-hidden="true" class="learning-next info-nav p-2 mt-3">Apply to a School</label>
</div>
