<div class="learning-page">
  <div class="learning-page-4 learning-body row">
    <div class="col-12 text-center nav_responsive">
      <div class="learning-header mt-5 mb-5">
        <div class="learning-step">4.</div>
        <div class="learning-title info-nav p-2">Status Notification From Schools</div>
      </div>
    </div>

    <div class="col-12">
      <p>Check email/website for final decisions.</p>

      <p>Accept invitations for choice programs.</p>

      <p>Attend the orientation! Learn the rules, regulations, and fees/uniform requirements.</p>
    </div>
  </div>
  <label for="page3" aria-hidden="true" class="learning-prev info-nav p-2 mt-3">Apply to a School</label>
  <label for="nothing" aria-hidden="true" class="learning-next info-nav p-2 mt-3">GOOD LUCK!</label>
</div>
