<div class="learning-page">
  <div class="learning-page-0 learning-body">
    <div class="info-blurb learning-left p-3">
      <p><strong><span class="title">What is School Choice?</strong></p>
      <p>
        The Delaware School Choice program offers a parent or guardian the opportunity
        to apply to schools of their choice in the case that the child's feeder school
        is not an appropriate fit for the child. Parents and guardians can choose to
        apply for their child to attend a traditional school outside of their feeder
        pattern, a charter school, a magnet school, a vo-tech school or a private school.
      </p>
    </div>
    <div class="info-blurb learning-right-top p-3">
      <p><strong><span class="title">What is a Feeder School?</strong></p>
      <p>
        Each household in Delaware is assigned a feeder pattern school. The assigned
        feeder pattern school is the public school children are designated to attend.
        If a parent decides not to go through the school choice process the feeder
        pattern school this is where a child will be educated.
      </p>
    </div>
    <div class="info-blurb learning-right-bottom p-3">
      <p><strong><span class="title">What is a Charter School?</strong></p>
      <p>
        Charter charter charter charts charter school charter school...
        TODO: Blurb for Charter School
      </p>
    </div>
  </div>
  <label for="page1" aria-hidden="true" class="learning-next info-nav p-2 mt-3">Next Step: Find a School</label>
</div>
