<div class="learning-page">
  <div class="learning-page-5 learning-body row">
    <div class="col-12 text-center nav_responsive">
      <div class="learning-header mt-5 mb-5">
        <div class="learning-step">5.</div>
        <div class="learning-title info-nav p-2">Choice Closes</div>
      </div>
    </div>

    <div class="col-12">
    Hil ma nonsendam quias eos molo optate explibu scimus volupti isquatqui rem latempe eos num explique pra quati dolupta turepudant, cum rent que perferit ariae velestiis sam utendest, officie nimporro quodita volorit, net modit late nosande eost, sint ad quides seque voluptae cuptatur abo. Obitectat es imincti osanda si re maxim simet, ame dipicti imolenis rest, odias essequate voluptione min eatibus endi net volo eate volor rerio int.
Qui qui sed et quunti quatius tisimolo omnit et hillis es reicilluptat aceperum et ate plaborio tem et quiate nulpa doluptur sed ma dolorepra dolorpo repudis dias sinctur?
    </div>
  </div>
  <label for="page4" aria-hidden="true" class="learning-prev info-nav p-2 mt-3">Previous Step: Apply to a School</label>
  <label for="page6" aria-hidden="true" class="learning-next info-nav p-2 mt-3">Next Step: Status Notification</label>
</div>
