<h2 class="text-center">Search your Schools</h2>

<div class="round-container justify-content-center p-4 pb-5">
  <div class="row">
    <div class="col">
      <div>
        <h3>Step 1 - Enter Your Address:</h3>
        <input name="google_place" id="google_place" type="text" class="place-autocomplete form-control" />
      </div>

      <div class="tabs" role="tablist">
        <h3>Step 2 - Choose An Operation:</h3>
        <label for="grade_level_view" role="tab">By Grade</label>
        <label for="radius_view" role="tab">By Radius</label>
        <label for="district_view" role="tab">District</label>
        <div class="tab-view">
          <input type="radio" class="display-toggle" name="tab_toggle" id="grade_level_view" />
          <div class="tab">
            <h3>Step 3:</h3>
            <select name="grade_level" id="grade_level" class="form-control" data-require-place="true">
              <option disabled="true" selected="true">Choose Grade</option>
              <option value="all">All Feeder Schools</option>
              <optgroup label="Grades">
                <option value="earlychildhood">Early Childhood</option>
                <option value="prekindergarten">Pre-Kindergarten</option>
                <option value="kindergarten">Kindergarten</option>
                <option value="one">First Grade</option>
                <option value="two">Second Grade</option>
                <option value="three">Third Grade</option>
                <option value="four">Fourth Grade</option>
                <option value="five">Fifth Grade</option>
                <option value="six">Sixth Grade</option>
                <option value="seven">Seventh Grade</option>
                <option value="eight">Eighth Grade</option>
                <option value="nine">Ninth Grade (Freshman)</option>
                <option value="ten">Tenth Grade (Sophomore)</option>
                <option value="eleven">Eleventh Grade (Junior)</option>
                <option value="twelve">Twelfth Grade (Senior)</option>
              </optgroup>
            </select>
            <button type="button" id="resolve_feeder_pattern"
                    style="width: 100%"
                    data-require-place="true"
                    disabled="disabled">
              Show My Feeder School
            </button>
          </div>
        </div>
        <div class="tab-view">
          <input type="radio" name="tab_toggle" id="radius_view" class="display-toggle" />
          <div class="tab">
            <h3>Step 3:</h3>
            <select name="radius" id="radius" class="form-control" data-require-place="true">
              <option disabled="true" selected="true">Choose Radius</option>
              <option disabled="true">&nbsp;</option>
              <option value="0.5">1/2 Mile</option>
              <option value="1">1 Mile</option>
              <option value="1.5">1 1/2 Miles</option>
              <option value="2">2 Miles</option>
              <option value="3">3 Miles</option>
              <option value="5">5 Miles</option>
            </select>
            <button type="button" id="resolve_radius"
                    style="width: 100%"
                    data-require-place="true"
                    disabled="disabled">
              Show Schools Near Me
            </button>
          </div>
        </div>
        <div class="tab-view">
          <input type="radio" name="tab_toggle" id="district_view" class="display-toggle" />
          <div class="tab">
            <h3>Step 3:</h3>
            <button type="button" id="resolve_district"
                    style="width: 100%"
                    data-require-place="true">
              Show School District Area
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <label>Map</label>
      <div id="map" style="height: 300px; width: 100%"></div>
    </div>
  </div>

  <div id="results"></div>
  <script>
    $(function () { initMap(); });
  </script>
</div>
