$banner_color: #f3e195;
$backing_color: #fff;
$body_color: #e0eaea;
$front_color: #89b0b0;

* {
  font-family: roboto;
}

.collapsing {
  -webkit-transition: none;
  transition: none;
  display: none;
}

[data-toggle="collapse"]:after {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f054";
  transform: rotate(-90deg) ;
  transition: all linear 0.25s;

  &:active, &:hover, &:visited {
    text-decoration: none;
  }
}

[data-toggle="collapse"].collapsed:after {
  transform: rotate(90deg) ;
}

.sherpa {
  .banner {
    background-color: $banner_color;
    color: $body_color;
    text-align: center;

    .titling {
      font-family: Quicksand;
      font-weight: 700;
      text-decoration: none;
      color: $front-color;

      h1 {
        display: none;
      }
    }
  }

  .body {
    background-color: $backing_color;
    color: #121212;

    .round-container {
      background-color: $body_color;

      .nav-item {
        height: 140px;
        width: 140px;
        padding: 10px;
        border-radius: 70px;
        background-color: $front_color;
        margin-left: auto;
        margin-right: auto;
        display: block;
        text-decoration: none;

        .nav-icon {
          height: 110px;
          width: 110px;
        }

        .nav-label {
          background-color: $banner_color;
          color: $front_color;
          border-radius: 10px;
          padding: 5px;
          height: 55px;
          width: 160px;
          z-index: 10;
          position: relative;
          left: -20px;
        }
      }

      .info-blurb {
        border-radius: 10px;
        background-color: $banner_color;
        display: block;
        padding: 5px;
        position: static;
      }
    }
  }
}

@media (min-width: 576px) {
  .sherpa .body .round-container {
    border-radius: 25px;
    width: 75%;
  }
}

@media (max-width: 991.98px) {
  .sherpa .body .round-container > div.nav_responsive:nth-child(n+2) {
    border-top: 1px solid $front_color;
    margin-top: 60px;
    padding-top: 20px;
  }
}

@media (min-width: 992px) {
  .sherpa .body .round-container > div.nav_responsive:nth-child(n+2) {
    border-left: 1px solid $front_color;
  }
}

.tabs {
  display: none;
}

.place-completed ~ .tabs {
  display: block;
  position: relative;
  float: none;
  list-style: none;

  li {
    float: left;
  }

  div.tab {
    background-color: white;
    border: 1px solid $banner-color;
    display: none;
    overflow: hidden;
    padding: 5px;
    width: 100%;
  }

  input.display-toggle {
    display: none;

    &:checked ~ div.tab {
      display: block;
    }
  }

  label {
    background-color: $banner-color;
    border: 1px solid $banner-color;
    border-bottom: 0;
    border-radius: 5px 5px 0 0;
    color: $front-color;
    cursor: pointer;
    display: block;
    float: left;
    margin: 5px;
    padding: 3px;
    position: relative;
    top: 6px;
    z-index: 5;

    &.checked {
      background-color: white;
      color: $front-color;
    }
  }
}

#results:not(:empty) {
  margin: 15px;
  padding-top: 15px;
  border-top: 3px solid black;
}

.school-list-item {
  vertical-align: middle;

  &:nth-child(n+2) {
    border-top: 1px solid $front-color;
  }

  h3 {
    border: 1px solid $front-color;
    border-radius: 18px;
    margin: 10px;
    height: 36px;
    width: 36px;
    text-align: center;
  }

  .school-info-tip {
    font-size: 12px;
    font-style: italic;
    display: none;
  }

  &:hover {
    background-color: darken($body-color, 15%);
    cursor: pointer;

    .school-info-tip {
      display: inline;
    }
  }
}
