$banner_color: #f3e195;
$backing_color: #fff;
$body_color: #e0eaea;
$front_color: #89b0b0;

* {
  font-family: roboto;
}

.collapsing {
  -webkit-transition: none;
  transition: none;
  display: none;
}

[data-toggle="collapse"]:after {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f054";
  transform: rotate(-90deg) ;
  transition: all linear 0.25s;

  &:active, &:hover, &:visited {
    text-decoration: none;
  }
}

[data-toggle="collapse"].collapsed:after {
  transform: rotate(90deg) ;
}

.sherpa {
  .banner {
    background-color: $banner_color;
    color: $body_color;
    text-align: center;

    .titling {
      font-family: Quicksand;
      font-weight: 700;
      text-decoration: none;
      color: $front_color;

      h1 {
        display: none;
      }
    }
  }

  .body {
    background-color: $backing_color;
    color: #121212;

    .round-container {
      background-color: $body_color;

      .nav-item {
        height: 140px;
        width: 140px;
        padding: 10px;
        border-radius: 70px;
        background-color: $front_color;
        margin-left: auto;
        margin-right: auto;
        display: block;
        text-decoration: none;

        .nav-icon {
          height: 110px;
          width: 110px;
        }

        .nav-label {
          display: block;
          background-color: $banner_color;
          color: $front_color;
          border-radius: 10px;
          padding: 5px;
          height: 55px;
          width: 160px;
          z-index: 10;
          position: relative;
          left: -20px;
        }
      }

      .info-blurb {
        background-color: $banner_color;
        box-shadow: 0 0 8px #999;
        display: block;
        padding: 5px;
        position: static;

        .title {
          text-decoration: underline;
        }
      }

      .info-nav {
        border-radius: 25px;
        background-color: $front_color;
        box-shadow: 0 0 8px #999;
        color: $banner_color;
        display: block;
        font-weight: bold;
        font-size: 18pt;
        text-align: center;

        &:hover {
          box-shadow: 0 0 8px #fff;
        }
      }
    }
  }
}

@media (min-width: 576px) {
  .sherpa .body .round-container {
    border-radius: 30px;
    width: 75%;

    .info-blurb {
      border-radius: 30px;
    }
  }
}

@media (max-width: 991.98px) {
  .sherpa .body .round-container > div.nav_responsive:nth-child(n+2) {
    border-top: 1px solid $front_color;
    margin-top: 60px;
    padding-top: 20px;
  }

  .learning-page {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
      "body"
      "next"
      "prev";

    .learning-intro {}
    .learning-page-0 {
      grid-gap: 10px;
      grid-template-columns: 1fr;
      grid-template-rows: auto auto auto;
      grid-template-areas:
        "l"
        "t"
        "b";
    }

    .learning-page-1 {}
    .learning-page-2 {}
    .learning-page-3 {
      grid-gap: 10px;
      grid-template-columns: 1fr;
      grid-template-rows: auto auto auto;
      grid-template-areas:
        "h"
        "l"
        "r";
    }
    .learning-page-4 {}
  }
}

@media (min-width: 992px) {
  .sherpa .body .round-container > div.nav_responsive:nth-child(n+2) {
    border-left: 1px solid $front_color;
  }

  .learning-page {
    grid-template-columns: 10px 1fr 1fr 10px;
    grid-template-rows: auto 76px;
    grid-template-areas:
         ". body body ."
      "prev prev next next";
    grid-gap: 20px;

    .learning-intro {}
    .learning-page-0 {
      grid-gap: 10px;
      grid-template-columns: 1fr 1fr;
      grid-template-areas:
        "l t"
        "l b";
    }

    .learning-page-1 {}
    .learning-page-2 {}
    .learning-page-3 {
      grid-gap: 10px;
      grid-template-columns: 1fr 1fr;
      grid-template-areas:
        "h h"
        "l r";
    }
    .learning-page-4 {}
  }
}

.learning-page {
  display: grid !important;
  justify-items: stretch;
  align-items: stretch;

  .learning-page-0 {
    width: 100%;
    display: grid !important;
    justify-items: stretch;
    align-items: stretch;

    .learning-left {
      grid-area: l;
    }

    .learning-right-top {
      grid-area: t;
    }

    .learning-right-bottom {
      grid-area: b;
    }
  }

  .learning-intro {}
  .learning-page-1 {}
  .learning-page-2 {}
  .learning-page-3 {
    width: 100%;
    display: grid !important;
    justify-items: stretch;
    align-items: stretch;

    .learning-step-header {
      grid-area: h;
    }

    .learning-left {
      grid-area: l;
    }

    .learning-right {
      grid-area: r;
    }
  }
  .learning-page-4 {}

  .learning-body {
    grid-area: body;

    .learning-header {
      width: 100%;

      .learning-step {
        width: 100px;
        height: 100px;
        background-color: $banner_color;
        border-radius: 50px;
        box-shadow: 0 0 8px #999;
        float: left;
        font-family: Quicksand;
        font-size: 60px;
        font-weight: bold;
        line-height: 100px;
        position: relative;
        text-align: center;
        top: -25px;
        z-index: 2;
      }

      .learning-title {
        z-index: 1;
      }
    }
  }

  .learning-prev {
    grid-area: prev;

    &:before {
      content: 'Previous: ';
    }
  }

  .learning-next {
    grid-area: next;

    &:before {
      content: 'Next: ';
    }
  }
}

.mapping-operations {
  display: none;
}

.place-completed ~ .mapping-operations {
  display: block;
  position: relative;
  float: none;
  list-style: none;

  li {
    float: left;
  }

  .operation {
    background-color: white;
    border: 1px solid $banner-color;
    overflow: hidden;
    padding: 5px;
    width: 100%;
  }

  label {
    background-color: $banner-color;
    border: 1px solid $banner-color;
    border-bottom: 0;
    border-radius: 5px 5px 0 0;
    color: $front-color;
    cursor: pointer;
    display: block;
    float: left;
    margin: 5px;
    padding: 3px;
    position: relative;
    top: 6px;
    z-index: 5;

    &.checked {
      background-color: white;
      color: $front-color;
    }
  }
}

#results:not(:empty) {
  margin: 15px;
  padding-top: 15px;
  border-top: 3px solid black;
}

.school-list-item {
  vertical-align: middle;

  &:nth-child(n+2) {
    border-top: 1px solid $front-color;
  }

  h3 {
    border: 1px solid $front-color;
    border-radius: 18px;
    margin: 10px;
    height: 36px;
    width: 36px;
    text-align: center;
  }

  .school-info-tip {
    font-size: 12px;
    font-style: italic;
    display: none;
  }

  &:hover {
    background-color: darken($body_color, 15%);
    cursor: pointer;

    .school-info-tip {
      display: inline;
    }
  }
}
