.sherpa {
  .learn-icon:before {
    background-image: asset-data-url("sherpa_icons-01.png");
  }

  .search-icon:before {
    background-image: asset-data-url("sherpa_icons-02.png");
  }

  .apply-icon:before {
    background-image: asset-data-url("sherpa_icons-03.png");
  }

  .logo:before {
    background-image: asset-data-url("logo.png");
  }

  .banner {
    background-color: #F8F3A9;
    color: #A9CAD1;
    text-align: center;
  }

  .body {
    background-color: #EEE;
    color: #121212;
    

    .round-container {
      border-radius: 25px;
      background-color: #A9CAD1;
      width: 75%;

      .nav-item {
        height: 100px;
        width: 100px;
        border-radius: 50px;
      }

      .nav-label {
        background-color: #F8F3A9;
        color: #A9CAD1;
        height: 65px;
        width: 120px;
      }
    }
  }
}
